@import '../../style/variables';

.item {
    display: flex;
    position: relative;

    .title {
        font-size: 22px;
        color: #fff;
        padding: 20px;

        &:hover {
            color: $primary-color;
        }
    }

    .dropDown {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 55px;

        &::before {
            content: '';
            border: solid transparent;
            border-width: 8px;
            border-bottom-color: $primary-color;
            align-self: flex-start;
            margin-left: 15px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: $primary-color;
            border-radius: 5px;
            overflow: hidden;
        }

        li {
            display: flex;
            min-width: 176px;
        
            a {
                padding: 5px 20px;
                flex: 1;

                &:hover {
                    background-color: $primary-light;
                    color: #fff;
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid $primary-dark;
            }
        }
    }

    &:hover .dropDown {
        display: flex;
    }
}

@media (max-width: $site-width) {
    .item {
        flex-direction: column;

        &:not(:last-child) {
            border-bottom: 2px solid $secondary-dark;
        }

        .title {
            flex: 1;
        }

        .dropDown {
            display: flex;
            position: relative;
            top: initial;
            max-height: 0;
            transition: all 0.2s;

            ul {
                border-radius: 0;
                background-color: $secondary-dark;

                li {
                    border-color: $secondary-color !important;

                    a {
                        padding: 12px 20px;
                        color: #fff;
                    }
                }
            }

            &::before {
                display: none;
            }

        }
    }
}