@import '../../style/variables';

.body {
    flex: 1;
    display: flex;
    justify-content: center;
}

.container {
    max-width: $site-width;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

@media (max-width: $site-width) {
    .body {
        margin-top: 100px;
    }

    .container {
        padding: 20px 10px;
    }
}