@import '../../style/variables';

.cover {
    background-color: $footer-background;
    display: flex;
    width: 100%;
    justify-content: center;
}

.footerWrapper {
    max-width: $site-width;
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    .text {
        font-size: 14px;
        color: $footer-text;
    }
}

.linkWrapper {
    display: flex;
    margin-bottom: 20px;
    
    a {
        color: #fff;
        margin-right: 10px;

        &:not(:last-child)::after {
            content: '•';
            margin-left: 10px;
        }
    }
}

// 14px