@import '../../../style/variables';

.button {
    display: none;
}

.menuWrapper {
    display: none;
}

@media (max-width: $site-width) {
    .button {
        display: block;
        padding: 10px;
        background-color: $secondary-dark;
        border: none;
        
        &:focus {
            outline: none;
        }
    
        .line {
            height: 5px;
            width: 35px;
            background-color: #fff;
            border-radius: 20px;
    
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    
    .menuWrapper {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 10;
        right: 0;
        top: 0;
        width: 100%;
        max-width: 0;
        height: 100%;
        background-color: $secondary-color;
        transition: all 0.2s; 
    }
    
    .menuHead {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100px;
        padding-left: 30px;
        border-bottom: 2px solid $secondary-dark;
    
        button {
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 42px;
            color: #fff;
            border: none;
            background-color: $secondary-dark;
    
            &:focus {
                outline: none;
            }
        }
    }
}